* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app__title {
    color: orange;
    margin: 100px 0;
}

.app__technologies-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.technology {
    width: 30%;
    color: olive;
    margin: 0 0 50px;
}

.technology__header {
    position: relative;
}

.technology__title {
    position: absolute;
    line-height: 100px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.technology__progress {
    height: 100px;
    background: #fff;
    position: relative;
    width: 100%;
    border: 1px solid darkorange;
}

.technology__progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background: darkorange;
    width: 100%;
    transition: width .3s ease;
}

.technology__skills {
    list-style-type: none;
    margin: 20px 0;
}

.technology__skills-item-name {
    margin: 0 0 0 20px;
    cursor: pointer;
}